[Unit]
Description=Chancoin go client

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/bin/chancoin --syncmode "full" \
        --networkid 2 \
        --port {{ chancoin_port }} \
        --rpc \
        --rpccorsdomain "" \
        --rpcaddr 0.0.0.0 \
        --rpcport 1545 \
        --rpcvhosts "" \
        --rpcapi "db,eth,net,web3,personal,debug" \
        --gcmode "archive" \
        --ws \
        --wsaddr 0.0.0.0 \
        --wsport 1546 \
        --wsorigins "*" \
        --mine \
        --gasprice 2500 2>%h/.chancoin/chancoin.log

[Install]
WantedBy=default.target
