[Unit]
Description=Chancoin go client

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/bin/chancoin --syncmode "full" \
        --rpc \
        --rpccorsdomain "" \
        --rpcaddr 0.0.0.0 \
        --rpcport 1545 \
        --rpcvhosts "" \
        --rpcapi "db,eth,net,web3,personal,debug" \
        --gcmode "archive" \
        --ws \
        --wsaddr 0.0.0.0 \
        --wsport 1546 \
        --wsorigins "*" \
        --mine \
        --gasprice 2500 \
        --chancoin-testnet \
        --bootnodes "{{ bootnode_address }}"

[Install]
WantedBy=default.target
